
{{/each}}
<div class="car card-body">
  <h3>Video Idea </h3>
  <form action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Title </label>
      <input type="text" class="form-control" required=true name="title">
    </div>
    <div class="form-group">
      <label for="deatils">Deatils </label>
      <textarea class="form-control" required=true name="details"></textarea>
      <button type="submit">Submit </button>
    </div>
  </form>
</div>
